@import "../../styles/variables.scss";

.peca {
  width: $tabuleiro-size / 10;
  height: $tabuleiro-size / 10;
  opacity: .95;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.imagem {
  width: $tabuleiro-size / 10;
  height: $tabuleiro-size / 10;
  pointer-events: none;
}