@import "../styles/variables.scss";

.page {
  min-height: 100vh;
  background-image: url("/bg-home.jpg");
  background-size: cover;
  display: grid;
  place-items: center;
}

.salas {
  position: relative;
  margin: 8px;
  max-width: 650px;
  max-height: 650px;
  color: #ecf0f1;
  padding: 32px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  box-shadow: 0 0 3px #fff;
  overflow-y: auto;
  z-index: 1;

  h1 {
    color: #ecf0f1;
    color: $primaryColor;
    font-weight: 700;
    font-size: 2.4rem;
    filter: drop-shadow(1px 1px 2px #000);
  }

  h2 {
    filter: drop-shadow(1px 1px 2px #000);
    font-size: 2.2rem;
    font-weight: 300;
  }

  hr {
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
}

.footer {
  background-image: url("/soldiers-311384_1280.png");
  bottom: 0;
  height: 500px;
  position: fixed;
  width: 100vw;
  z-index: 0;
}

.icon {
  color: rgba(255, 255, 255, 0.1);
  left: 8px;
  position: absolute;
  top: 0;
}

.partidas {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.1rem;
  font-weight: 300;
  gap: 16px;
  justify-content: space-between;
  margin: 16px 0;
}

.btn {
  align-items: center;
  background-color: #e4e00b;
  border-radius: 4px;
  border: none;
  color: #1c1c1c;
  cursor: pointer;
  display: flex;
  gap: 8px;
  margin: 0;
  outline: none;
  padding: 8px 16px;
  box-shadow: 0 0 4px #000;

  &:hover {
    filter: brightness(0.8);
  }
}

.btnEntrar {
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  color: #1c1c1c;
  cursor: pointer;
  display: flex;
  gap: 8px;
  margin: 0;
  outline: none;
  padding: 8px 16px;
  box-shadow: 0 0 4px #000;
  max-width: 100%;

  &:hover {
    filter: brightness(0.8);
  }
}

.btnWhite {
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #1c1c1c;
  color: #1c1c1c;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 24px 0;
  font-size: 1.2rem;
  gap: 8px;
  outline: none;
  padding: 16px;
  width: 100%;
  box-shadow: 0 0 4px #000;

  &:hover {
    filter: brightness(0.8);
  }
}

.usuario {
  display: flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  right: 32px;
  top: 16px;
  padding: 16px;
  color: #ecf0f1;

  div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;

    span {
      filter: drop-shadow(0 1px 1px #000);
    }

    span:last-of-type {
      font-size: 0.9rem;
      cursor: pointer;
    }
  }

  img {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    filter: drop-shadow(0 1px 1px #000);
  }
}

.btnLogin {
  display: flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  right: 32px;
  top: 16px;
  //background-color: #e4e00b;
  background-color: transparent;
  //color: #1c1c1c;
  color: #fff;
  border-radius: 4px;
  border: none;
  padding: 16px;
  font-size: 1.1rem;
  //border: 2px solid #e4e00b;
  border: 2px solid #fff;
  //box-shadow: 0 0 2px 1px #000;
  filter: drop-shadow(0 1px 1px #000);
  cursor: pointer;

  &:hover {
    filter: brightness(1.1);
  }
}
